// Accent tints & shades
$accent-light-900: #e6f7fd;
$accent-light-800: #ceeffb;
$accent-light-700: #b5e7f9;
$accent-light-600: #9cdff7;
$accent-light-500: #84d7f5;
$accent-light-400: #6bcef2;
$accent-light-300: #52c6f0;
$accent-light-200: #39beee;
$accent-light-100: #21b6ec;
$accent: #08aeea;
$accent-dark-100: #079dd3;
$accent-dark-200: #068bbb;
$accent-dark-300: #067aa4;
$accent-dark-400: #05688c;
$accent-dark-500: #045775;
$accent-dark-600: #03465e;
$accent-dark-700: #023446;
$accent-dark-800: #02232f;
$accent-dark-900: #011117;

// Gray tints & shades
$gray-light-900: #eaeaeb;
$gray-light-800: #d4d5d6;
$gray-light-700: #bfc0c2;
$gray-light-600: #a9abae;
$gray-light-500: #94969a;
$gray-light-400: #7e8085;
$gray-light-300: #696b71;
$gray-light-200: #53565d;
$gray-light-100: #3e4148;
$gray: #282c34;
$gray-dark-100: #24282f;
$gray-dark-200: #20232a;
$gray-dark-300: #1c1f24;
$gray-dark-400: #181a1f;
$gray-dark-500: #14161a;
$gray-dark-600: #101215;
$gray-dark-700: #0c0d10;
$gray-dark-800: #08090a;
$gray-dark-900: #040405;
