@use "./colors" as colors;

header {
  height: 4em;
  width: 100%;
  font-size: 1.25rem;
  color: colors.$gray-light-900;
  background-color: rgba($color: colors.$gray-dark-300, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .navbar {
    height: 100%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hamburgerMenu {
      cursor: pointer;
      font-size: 2rem;
    }

    &.mobile {
      .left-side .nav-links,
      .right-side {
        display: none;
      }
      .hamburgerMenu {
        display: block;
      }
      .menu {
        display: block;
      }
    }

    &.desktop {
      .menu {
        display: none;
      }
    }

    .left-side {
      display: flex;
      align-items: center;
    }

    .logo {
      display: flex;
      align-items: center;
      img {
        height: 2rem;
      }
    }

    .right-side {
      .link {
        font-size: 1.5rem;
      }
    }

    .hamburgerMenu {
      display: none;
    }

    .nav-links {
      display: flex;
      list-style: none;
    }

    .link {
      color: colors.$gray-light-900;
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-left: 0.5rem;

      &:not(.logo-link):nth-child(1) {
        margin-left: 1rem;
      }

      &.active-link:not(.logo) {
        a {
          color: colors.$accent;
        }
      }

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: colors.$gray-light-900;
        transition: color 0.2s ease-in-out;

        &:not(.logo):hover {
          color: colors.$gray-light-300;
        }
        svg {
          margin-right: 0.25rem;
        }
      }
    }
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  header {
    backdrop-filter: blur(10px) saturate(160%) contrast(85%) brightness(140%);
  }
}
