@use "./colors" as colors;

header {
  height: auto;
  padding-block: 1.25rem;
  width: 100%;
  font-size: 1.25rem;
  color: colors.$gray-light-900;
  background-color: rgba($color: colors.$gray-dark-300, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  &.open {
    height: auto;
  }

  .navbar {
    height: 100%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .left-side,
    .right-side {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nav-links {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      list-style: none;
    }

    .logo {
      display: flex;
      align-items: center;
      img {
        height: 2rem;
      }
    }

    .hamburgerMenu {
      cursor: pointer;
      font-size: 2rem;
      display: block;
    }

    &.mobile {
      flex-wrap: wrap;
      .logo-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .nav-links {
        &.closed {
          display: none;
        }
        &.open {
          flex-direction: column;
          width: 100%;
          padding: 1rem 1.75rem;
          overflow: auto;
          .left-side {
            flex-direction: column;
            align-items: stretch;
            justify-content: right;
          }
          .right-side {
            align-items: stretch;
            justify-content: left;
            .link {
              margin-inline: 0.25rem;
            }
          }
          .link {
            margin-left: 0;
            font-size: 1.5rem;
            margin-block: 0.5rem;
          }
        }
      }
      .hamburgerMenu {
        display: block;
      }
    }

    &.desktop {
      .hamburgerMenu {
        display: none;
      }
    }

    .right-side {
      .link {
        font-size: 1.5rem;
      }
    }

    .link {
      color: colors.$gray-light-900;
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-left: 0.5rem;

      &:not(.logo-link):nth-child(1) {
        margin-left: 1rem;
      }

      &.active-link:not(.logo) {
        a {
          color: colors.$accent;
        }
      }

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: colors.$gray-light-900;
        transition: color 0.2s ease-in-out;

        &:not(.logo):hover {
          color: colors.$gray-light-300;
        }
        svg {
          margin-right: 0.25rem;
        }
      }
    }
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  header {
    backdrop-filter: blur(10px) saturate(160%) contrast(85%) brightness(140%);
  }
}
