@use "./colors" as colors;

#projects {
  display: block;
  height: 100vh;
  .react,
  .laravel {
    height: 50%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    .svg {
      position: relative;
      height: 100%;
      width: 25%;
      clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
      background-color: colors.$accent-dark-500;
      display: grid;
      place-items: center;
      .title {
        position: relative;
        z-index: 10;
        color: colors.$gray-light-900;
        font-size: 2rem;
        text-align: center;
        height: 25%;
      }
      svg {
        height: 75%;
        width: 75%;
        margin-right: 25%;
      }
    }
  }
}

@media screen and (max-width: 930px) {
  #projects {
    height: 200vh;
    .react,
    .laravel {
      display: block;
      .svg {
        margin-inline: auto;
        clip-path: none;
        height: 50%;
        width: 75%;
        border-radius: 0.5rem;
        svg {
          margin-right: 0;
        }
      }
    }
  }
}
